[Desktop Entry]
Type=Application
Name=HaveIBeenPwned-Local
Comment=HaveIBeenPwned Local Password Checker
Exec=haveibeenpwned-local
Icon=haveibeenpwned-local
Categories=Office;

